# 1    | Introduction to Python

    - Basic Operations: variables, expressions, libraries (math, random)
    - Functions: conditional statements, iteration, list comprehension
    - Data Types: lists, tuples, dictionaries, strings
    
*Resources from Coursera*: **Python for Informatics (University of Michigan)**

## Basic Operations and Libraries

In [61]:
# assigning variable
string = "Hello world!"
print(string)

Hello world!

In [2]:
# basic expression with integers
var=2
print('type: ', type(var),'answer: ', var+2)

type:  <class 'int'> answer:  4

In [3]:
# random library
import random
for i in range(10):
    x = random.random() 
print('random: ',x)

# also with random.randint
print('randint: ',random.randint(1,10))

# or choice using strings in a list
t=['a','b','c','d'] 
print('choice: ',random.choice(t))

random:  0.42885509465825344
randint:  1
choice:  d

In [4]:
# math library
import math
print('log',math.log10(100))
print('pi', math.pi)
print('sqrt', math.sqrt(2)/2)
print('trig', math.cos(5))

log 2.0
pi 3.141592653589793
sqrt 0.7071067811865476
trig 0.28366218546322625

## Files and the Operating System

In [203]:
cd /app/1-Basics/0-Functions

/app/1-Basics/0-Functions

In [204]:
ls

1-Python-Intro.ipynb  4-Dataframes.ipynb    advanced-pandas.ipynb
2-Texts.ipynb         Data/                 numpy.ipynb
3-Arrays.ipynb        advanced-numpy.ipynb  pandas2.ipynb

In [210]:
# set path and open text with IO wrapper 
path = 'Data/examples/segismundo.txt'
f = open(path)
f

In [208]:
# strip lines from text
with open(path) as f:
    lines = [x.rstrip() for x in f]
lines

['Sueña el rico en su riqueza,',
 'que más cuidados le ofrece;',
 '',
 'sueña el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'sueña el que a medrar empieza,',
 'sueña el que afana y pretende,',
 'sueña el que agravia y ofende,',
 '',
 'y en el mundo, en conclusión,',
 'todos sueñan lo que son,',
 'aunque ninguno lo entiende.',
 '']

In [211]:
# read first 10 char
f.read(10)

'Sueña el r'

In [213]:
f.tell()

11

In [212]:
f2 = open(path, 'rb')  # Binary mode
f2.read(10)

b'Sue\xc3\xb1a el '

In [228]:
# remove encoding
data.decode('utf8')

'Sueña el '

In [ ]:
f.seek(3)
f.read(1)

In [223]:
# open and write lines without space between lines
with open('tmp.txt', 'w') as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)
with open('tmp.txt') as f:
    lines = f.readlines()
lines

['Sueña el rico en su riqueza,\n',
 'que más cuidados le ofrece;\n',
 'sueña el pobre que padece\n',
 'su miseria y su pobreza;\n',
 'sueña el que a medrar empieza,\n',
 'sueña el que afana y pretende,\n',
 'sueña el que agravia y ofende,\n',
 'y en el mundo, en conclusión,\n',
 'todos sueñan lo que son,\n',
 'aunque ninguno lo entiende.\n']

In [ ]:
f.close()
f2.close()

### Data Retrieval

In [ ]:
import sys
import os

In [42]:
#use open for large files rather than reading in a file with input()
data_long = open("/Users/wiseer85/Desktop/mbox.txt")
count = 0
for line in data_long:
    count = count + 1 
print('Line Count:', count)

FileNotFoundError: [Errno 2] No such file or directory: '/Users/wiseer85/Desktop/mbox.txt'

In [ ]:
# get first/last line of file
one
two

In [ ]:
#save short files
with open("/Users/wiseer85/Desktop/mbox-short.txt", 'r') as infile:
    #NOTE: r is standard, rU is universal, rB is binary code, rT is text
    data = infile.read()
print(data)
len(data)

In [ ]:
#import files from internet using requests
import requests
url = "http://www.py4inf.com/code/mbox-short.txt"
res = requests.get(url)
text = res.text
len(text)
print(text)

## Functions, Iteration and List Comprehension

In [7]:
# if-else conditional statement
x=5
if x%2==0:
    print("x is even")
else:
    print("x is odd")

x is odd

In [8]:
# iteration updates a variable so that the new value depends on the old 
n=5 
while n>0:
    print(n)
    n=n-1
print("Blastoff!")

5
4
3
2
1
Blastoff!

In [9]:
# iterate strings as part of a list
friends = ['Joseph', 'Glenn', 'Sally'] 
for friend in friends:
    print("Happy New Year:", friend)

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally

In [10]:
# to calculate count in sequence
count = 0
for itervar in [3, 41, 12, 9, 74, 15]:
    count = count + 1 
print("Count: ", count)

Count:  6

In [11]:
#Calculate sum with total
total=0
for itervar in [3, 41, 12, 9, 74, 15]:
    total = total + itervar 
print("Total: ", total)

Total:  154

In [12]:
#Identify the largest number in a sequence
largest = None
print("Before:", largest)
for itervar in [3, 41, 12, 9, 74, 15]:
    if largest is None or itervar > largest : 
        largest = itervar
    print("Loop:", itervar, largest)
print("Largest:", largest)

Before: None
Loop: 3 3
Loop: 41 41
Loop: 12 41
Loop: 9 41
Loop: 74 74
Loop: 15 74
Largest: 74

In [6]:
# generator expressions
def squares(n=10):
    for i in range(1, n + 1):
        yield i ** 2
        
gen = squares()
for x in gen:
    print(x, end=' ')

1 4 9 16 25 36 49 64 81 100

In [17]:
# list comprehension
x = [1, 2, 3, 4]

squared = []
for item in x:
    squared.append(item**2)
print('loop: ', squared)
print('list comprehension: ', [item**2 for item in x])

loop:  [1, 4, 9, 16]
list comprehension:  [1, 4, 9, 16]

In [14]:
# errors and exception handling
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return "Error"

print(attempt_float(1))
print(attempt_float('something'))

1.0
Error

## Data Types
### Strings

In [1]:
# identify characters in a sequence
fruit = 'banana' 
for char in fruit:
    print(char)

b
a
n
a
n
a

In [2]:
#use len function to identify last item in sequence
length=len(fruit)
last=fruit[length-1]
print(last)

a

In [3]:
#specify item from left or right with the first character as [0]    
print(fruit[:3])
print(fruit[3:])
print(fruit[:])

ban
ana
banana

In [4]:
#Use a loop to count items in sequence
count = 0
for letter in fruit:
    if letter == 'a': 
        count = count + 1
print(count)

3

In [5]:
#change to uppercase
"a" in fruit
"seed" in fruit
FRUIT=fruit.upper()
print(FRUIT)

BANANA

In [6]:
#use find to find characters in a string
fruit.find("na")

2

In [7]:
#strip spaces from text between quotations
line=" Here we go! "
line.strip()

'Here we go!'

In [10]:
#write conditional statements about text
line = 'Please have a nice day' 
print('line starts with Please: ', line.startswith('Please'))
print('line starts with p: ', line.startswith('p'))

line starts with Please:  True
line starts with p:  False

In [11]:
#use \n to return output lines
nextline = 'X\nY' 
print(nextline)

X
Y

In [13]:
#format operator constructs strings and replaces parts stored in variables
camels=42
"%d"%camels
"I saw %d camels."%camels
'In %d years I have spotted %g %s.' % (3, 0.1, 'camels')

'In 3 years I have spotted 0.1 camels.'

### Lists

In [18]:
#unlike strings, lists are mutable because you can change the order or 
numbers=[17, "five"]
print('second element as string: ',numbers)

# reassign items to a list
numbers[1]=5
print('second element as integer: ',numbers)

second element as string:  [17, 'five']
second element as integer:  [17, 5]

In [19]:
#sorting
numbers.sort()
print(numbers)

[5, 17]

In [21]:
#other functions with lists
print('max: ',max(numbers))
print('min: ',min(numbers))
print('sum: ',sum(numbers))

max:  17
min:  5
sum:  22

In [37]:
#like strings, lists can also be concatenated
a=[1,2,3]
b=[4,5,6]
c=a+b
print(c)

[1, 2, 3, 4, 5, 6]

In [39]:
# concat with .extend
c.extend([7, 8])
c

[1, 2, 3, 4, 5, 6, 7, 8]

In [23]:
# slicing to show only specific items in the list
#second parameter is "up to but not including" (remember starts at [0])
c[1:3]

[2, 3]

In [50]:
# take only even numbers
c[::2]

[1, 3, 5, 7]

In [51]:
# reverse number order
c[::-1]

[8, 7, 6, 5, 4, 3, 2, 1]

In [32]:
# pop returns up to n ordered items in list (left-right)
stuff.pop(2)
stuff

['book', 'red']

In [24]:
# delete items in a list
del c[1]
print(c)

[1, 3, 4, 5, 6]

In [27]:
#to remove more than one element, you can use del with a slice index
del c[1:5]
print(c)

[1]

In [25]:
#if you know the element you want to remove (but not the index), you can use remove:
c.remove(6)
print(c)

[1, 3, 4, 5]

In [28]:
#appending items to end of list
stuff=list() #empty list
stuff.append("book")
stuff.append("movie")
print(stuff)

['book', 'movie']

In [31]:
#or use conditional statements to identify if a variable in a list
"ipod" in stuff

False

In [29]:
# add to list in specific order
stuff.insert(1, 'red')
stuff

['book', 'red', 'movie']

In [55]:
# sort ascending (sorted or .sort())
print('with integers: ', sorted([7, 1, 2, 6, 0, 3, 2]))
print('with strings: ', sorted('horse race'))

with integers:  [0, 1, 2, 2, 3, 6, 7]
with strings:  [' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [52]:
# sort descending
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [57]:
# sort items in list by lenth
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [87]:
# lists concat but not with set == tuple
l2 = [4, 4, 5, 6]

set(l + l2)

{1, 2, 3, 4, 5, 6}

In [106]:
# list comprehension to apply upper case to all strings in list
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [107]:
# get len for each element in list
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [108]:
# can also use map()
set(map(len, strings))

{1, 2, 3, 4, 6}

In [109]:
# create dict with enumerated elements (ordered)
loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [110]:
# nested list comprehension to locate element with 2 e's 
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

result = [name for names in all_data for name in names
          if name.count('e') >= 2]
result

['Steven']

In [112]:
# flatten nested list into single list
some_tuples = [(1, 2, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 2, 3, 4, 5, 6, 7, 8, 9]

### Tuples

In [77]:
#like lists, tubles is a sequence of values that are immutable (like strings)
#but they are more efficient when creating a temporary list that won't be changed
#unpack tuples
tup = (4, 5, 6)
a, b, c = tup
print('from', tup, 'to', b)

from (4, 5, 6) to 5

In [104]:
# assert tuples do not have order
print('assert with list:',[1, 2, 3] == [3, 2, 1],'\nassert with set:',{1, 2, 3} == {3, 2, 1},'\nassert with tupl:',(1, 2, 3) == (3, 2, 1))

assert with list: False
assert with set: True
assert with tupl: False

In [70]:
#create a tuple and print left hand side of the assignment (parentheses optional)
(x,y)=(4,12)
print(x)

4

In [71]:
#you can't modify a tuple, but you can replace it with another by identifying order in tuple
t=("L",) + t[1:]
print(t)

('L', 'u', 'p', 'i', 'n', 's')

In [ ]:
# list of tuple
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

### Dictionaries

In [115]:
#print key-value pairs by key
for k in sorted(c):
    print(k, c[k])

a 10
b 1
c 22
f 22

In [114]:
#sorting dict by key
c = {'a': 10, 'c': 22, 'b': 1, 'f': 22}
sorted(c)

['a', 'b', 'c', 'f']

In [116]:
#create temporary list to sort by values instead of key and reverse sort
tmp=list()
for k,v in c.items():
    tmp.append((v,k))
tmp.sort(reverse=True)
print(tmp)

[(22, 'f'), (22, 'c'), (10, 'a'), (1, 'b')]

In [117]:
#shorthand for list comprehension in ascending order
print(sorted([(v,k) for k,v in c.items()]))

[(1, 'b'), (10, 'a'), (22, 'c'), (22, 'f')]

In [130]:
#Whereas list is a linear collection of ordered values, a dictionary is an assortment of unordered labeled values, similar to a database
#Becuase dictionaries are not ordered, they require labels (or key for values)
# create and fillempty dict
purse = dict()
purse['money'] = 12
purse['candy'] = 3
purse['tissues'] = 75

#check if key is in dictionary
print('print dict',purse,"\nassert money is in purse:", 'money' in purse)

print dict {'money': 12, 'candy': 3, 'tissues': 75}
assert money is in purse: True

In [135]:
#use dictionaries to count items
counts = dict()
names = ['csev','owen','csev','zqian','cwen']
for name in names:
    if name not in counts:
        counts[name]= 1
    else: 
        counts[name] = counts[name] + 1
print(counts)

{'csev': 2, 'owen': 1, 'zqian': 1, 'cwen': 1}

In [132]:
#equivalent to the GET function
for name in names:
    counts[name]=counts.get(name,0)
print(counts)

{'csev': 2, 'owen': 1, 'zqian': 1, 'cwen': 1}

In [159]:
# unpack items, keys and values as nested list
print('items:',counts.items(),'\nitems:',counts.keys(),'\nvalues:',counts.values())
list(d1.keys())

items: dict_items([('csev', 2), ('owen', 1), ('zqian', 1), ('cwen', 1)])
items: dict_keys(['csev', 'owen', 'zqian', 'cwen'])
values: dict_values([2, 1, 1, 1])

In [138]:
# enumerated items in diction
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [136]:
# use zip to create dict from list
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [137]:
# add element to nested list
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [139]:
# create tuple from item in nested list
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),
            ('Schilling', 'Curt')]
first_names, last_names = zip(*pitchers)
first_names
last_names

('Ryan', 'Clemens', 'Curt')

In [169]:
# create nested list in a dictionary
empty_dict = {}
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}

# add new item
d1['7'] = 'another value'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], '7': 'another value'}

In [172]:
# replace value for dict item
d1.update({'b' : 'foo', 'c' : 12})
d1

{'a': 'some value', 'b': 'foo', 'c': 12}

In [166]:
# use pop to return value of a key
ret = d1.pop('7')
ret

'another value'

In [170]:
# delete item in dict
del d1['7']
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}